* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: #F8F8F8;
	font-family: 'Lato', sans-serif;
}

.con {
	position: relative;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flow-root;
}

.cen-vertical {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*header----------------------*/
header {
	height: 64px;
	border-bottom: 0.2px solid #707070;
}

.header-logo {
	display: inline-block;
	transition: all .3s ease-in-out;
}

.header-logo img {
	width: 40px;
	vertical-align: bottom;
}

.header-list {
	float: right;
}

.header-list:after {
	content: "";
	display: block;
	clear: both;
}

.header-list p {
	float: left;
}

.header-list p:first-child{
	margin-right: 15px;
	text-transform: capitalize;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 900;
}

.header-list a {
	color: #0C0C0C;
	text-transform: capitalize;
	opacity: 0.5;
	font-weight: 400;
	transition: all .2s ease-in-out;
}

.header-list .active {
	opacity: 1;
	font-weight: 700;
}


/*section-search----------------------*/
.sec-search {
	height: 160px;
}

.search {
	float: left;
	width: 40%;
	position: relative;
	border-bottom: 1px solid #707070;
	transition: all .3s ease-in-out;
	top: 60px;
}

.search-cat{
	border: none;
	background-color: transparent;
	font-size: 12pt;
	position: absolute;
	width: 80px;
	/* border: 1px solid black; */
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search-cat:focus{
	outline: none;
}

.search-under {
	content: "";
	display: block;
	height: 1.5px;
	background-color: black;
	width: 0;
	/*	width: 100%;*/
	transition: all .4s ease-in-out;
}


#search-txt {
	border: none;
	height: 40px;
	background-color: transparent;

	padding-left: 8px;
	font-size: 1em;

	position: relative;
	left: 90px ;
}



#search-txt:focus {
	outline-width: 0;
}

#search-txt:focus ~ .search-under {
	width: 100%;
}

#search-btn {
	width: 24px;
	position: absolute;
	right: 0;
	bottom: 50%;

	transform: translate(0, 50%);
}

#search-btn:focus {
	outline-width: 0;
}
.add-btn-wrap{
	position: absolute;
	top: 110px;
	right: 10%;
	z-index: 3;
}

.add {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

#add-icon {
	width: 60px;
	transition: all .2s ease-in-out;
}

.add-btn-wrap:hover #add-icon {
	width: 30px;
	/* transform: rotate(90deg); */
}

/*section-list----------------------*/
.sec-list .con>li{
	width: 25%;
	height: 240px;
	/* padding: 12px; */
	cursor: pointer;
	float: left;
	position: relative;
	
	
	/* border: 2px solid black; */
}

.list-thum{
	width: 90%;
	height: 90%;
	position: absolute;
	z-index: 1;
	left: 5%;
	top: 5%;
	
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	
	transition: all .2s ease-in-out;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	overflow: hidden;
}

.list-thum:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	
	transition: all .2s ease-in-out;
	background: linear-gradient(transparent, rgba(0,0,0,0.6));
	transform: translate(0,10%);
	border-radius: 10px;
}

.list-con{
	position: relative;
	z-index: 2;

	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	transition: all .2s ease-in-out;
}

.list-label{
	position: absolute;
	left: 10px;
	top: 10px;
	color: black;
}

.list-label:before{
	content: "";
	width: 20px;
	height: 20px;
	background-color: #FC5E5D;
	border-radius: 100%;
	float: left;
}

.list-label:after{
	content: "";
	display: block;
	clear: both;
}


.list-label li{
	float: left;
	
	height: 20px;
	background-color: #FC5E5D;
	border-radius: 12px;
	padding: 0 10px;
	color: white;
	font-weight: 400;
	margin: 0 4px;
	font-size: 8pt;
	line-height: 20px;
	
	opacity: 0;
	transition: all .3s ease-in-out;
}

.txt-wrap{
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0;
	padding: 0 10px;
	color: white;
	
	height: 60px;
	transition: all .3s ease-in-out;
	overflow: hidden;
}

.txt-wrap h3{
	font-size: 14pt;
	line-height: 2;
	font-weight: 700;
}

.txt-wrap p{
	font-size: 10pt;
	font-weight: 400;
	line-height: 2;
	opacity: 0.8;
}

.sec-list li:hover .list-thum{
	transform: translate(0, -5%);
	box-shadow: 2px 8px 20px rgba(0,0,0,0.3);
}

.sec-list li:hover .list-con{
	transform: translate(0, -5%);
}

.sec-list li:hover .list-label li{
	opacity: 1;
}

.sec-list li:hover .list-thum::before{
	transform: translate(0, 0);
}


.sec-list li:hover .txt-wrap{
	height: 90px;
}

/*add popup-web-----------------------------------------*/
.full-cover{
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	
	display: flex;
	justify-content: center;
	align-items: center;

	/* active */
	display: none;
	/* opacity: 1; */
	/*	opacity: 0;*/
	
	transition: all .2s ease-in-out;
	
}

.popup-web{
	position: relative;
	width: 32%;
	min-width: 500px;
	height: 80%;
	background-color: white;
	padding: 12px 20px;
}

.popup-web h2{
	font-size: 16pt;
	line-height: 1.6;
	font-weight: 700;
	font-style: italic;
	
}

.thumnail{
	width: 100%;
	height: 240px;
	background: #F2F2F2;
	border-radius: 10px;
}

.pop-cate{
	margin: 20px 0;
	position: relative;
	padding-left: 25%;
	box-sizing: border-box;
	/*	left: 80px;*/
}

.pop-cate input{
	display: none;
}

.pop-cate label{
	height: 24px;
	width: 24px;
	font-size: 12pt;
	line-height: 24px;
	
	display: inline-block;
	position: relative;
	
	background: #000;
	border-radius: 12px;
	color: white;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.pop-cate label:first-of-type{
	margin-right: 4px;
	background-color: #4F42E9;
}

.pop-cate label:last-of-type{
	background-color: #FC5E5D;
}

.pop-cate label p{
	opacity: 0;
	font-size: 0.8em;
	transition: all .2s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: capitalize;
}

input[name = "popChk"]:checked + label{
	width: 80px;
}

input[name = "popChk"]:checked + label p{
	opacity: 1;
}

.text-contents{
	margin: 8px 0;
	display: flow-root;
}

.text-contents:after{
	content: "";
	display: block;
	clear: both;
}

.text-contents p{
	float: left;
	width: 20%;
	color: #707070;
	font-size: 0.8em;	
}

.text-contents input{
	float: right;
	width: 75%;
	height: 24px;
	background-color: #F2F2F2;
	border: none;
	border-radius: 10px;
	padding: 0 12px;
}

input:focus {
	outline-width: 0;
}

#pop-descript{
	float: right;
	width: 75%;
	height: 72px;
	background-color: #F2F2F2;
	border: none;
	border-radius: 10px;
	padding: 0 12px;
}
.tag-wrapper{
	display: flow-root;
	width: 75%;
	float: right;
}
#pop-tag{
	width: 40%;
	float: left;
}
#tag-btn{
	width: 24px;
	height: 24px;
	line-height: 24px;
	position: relative;
	left:8px;
	border-radius: 100%;
	background-color: #F2F2F2;
	border: none;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
#tag-btn:hover{
	background-color: #5C5C5C;
	color: white;
}
#tag-btn:focus{
	outline-width: 0;
}
.tag-list{
	width: 100%;
	padding-left: 25%;
	padding-top: 8px;
	display: flow-root;
}
.tag-list li{
	float: left;
	font-size: 0.6em;
	background-color: #FC5E5D;
	color: white;
	height: 24px;
	padding: 0 10px;	
	line-height: 24px;

	border-radius: 12px;
	margin-right: 6px;
	cursor: pointer;
}
.pop-btn{
	position: absolute;
	right: 32px;
	bottom: 24px
}

.pop-btn ul:after{
	content: "";
	display: block;
	clear: both;
}

.pop-btn li{
	font-family: 'NanumSquare', sans-serif;
	font-weight: 800;
	float: left;
	font-size: 1em;
	cursor: pointer;
	opacity: 0.5;
	transition: all .2s ease-in-out;

	padding: 5px 10px;
	border-radius: 10px;
}

.pop-btn li:hover{
	background-color: #E8E8E8;
	opacity: 1;
}

.pop-btn li:last-of-type{
	margin-left: 16px;
}

.full-cover-mobile{
	display: none;
}


/* card clicked event--------------------- */
/* 
.sec-search{
	display: none;
	opacity: 0;
}

.sec-list li{
	display: none;
}

.sec-list .con>li:first-child{
	display: block;
	border: 1px solid black;
	padding: 0;
	width: 100%;
}

.sec-list .con li:first-child .list-thum{
	width: 100vw;
	height: 150%;
	left: -15%;
	top: -64px;
	border-radius: 0;
	z-index: -1;
}

.sec-list .con li:first-child .list-thum::before{
	background: none;
}

.list-con{
	border: 2px solid red;
	left: 0;
	top: 150%;
	transform: translateY(-64px);
	position: absolute;
	width: 100%;
} */



/* media query --------------------- */
@media only screen and (max-width: 1200px) {
	/* For tablets: */
	.sec-list .con > li{
		width: 50%;
	}

	.list-thum{
		
	}
  }


@media only screen and (max-width: 600px){
	/* For mobile: */

	/* header */
	header{
		border-bottom: none;
	}
	.header-list{
		display: none;
	}
	.header-logo{
		position: fixed;
		z-index: 4;
		top: 0;
	}
	.header-logo img{
		width: 60px;
	}

	/* search design */
	.sec-search{
		position: fixed;
		z-index: 3;
		width: 100%;
		height: 140px;
		top: 0;

		background-color: #F8F8F8;
		/* border: 2px solid red; */
		box-sizing: border-box;
		transition: all .4s ease-in-out;

		/* scroll */
		/* transform: translateY(-154px); */
	}

	.search{
		width: 100%;
		position: relative;
		top: 80px;
	}
	.add-btn-wrap{
		position: fixed;
		z-index: 5;
		top: 8px;
		transition: all .4s ease-in-out;
		
	}

	.add{
		/* border: 2px solid red; */
	}

	#add-icon {
		width: 40px;
	}


	/* list design */
	.sec-list .con > li{
		width: 100%;
	}

	.list-thum{
		width: 100%;
		left: 0;
		top: 0;
	}
	.list-con{
		width: 100%;
		left: 0;
		top: 0;
	}

	.sec-list{
		top: 90px;
		position: relative;
	}

	.list-label li{
		display: none;
	}

	.web{
		display: none;
	}
}

/* scrap popup */

/* .add{
	transform: rotate(45deg);
}
.search{
	opacity: 0;
}
.header-logo{
	opacity: 0;
} */

.full-cover-mobile{
	display: block;
	transition: all .3s ease-in-out;
	/* border: 1px solid black; */
	position: fixed;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: white;
	padding: 20px 32px;
	
	transform: translateY(-100vh);
}

.full-cover-mobile{
	/* display: none; */
}

.full-cover-mobile h2{
	font-style: italic;
	margin-bottom: 32px;
}

.full-cover-mobile .text-contents {
	/* border: 2px solid black; */
	box-sizing: border-box;
}

.full-cover-mobile #pop-descript{
	width: 100%;
}
.full-cover-mobile .tag-wrapper{
	width: 100%;
}
.full-cover-mobile .tag-list{
	padding-left: 0;
	padding-top: 4px;
}

.full-cover-mobile .pop-cate{
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.full-cover-mobile #pop-tag{
	/* border: 1px solid black; */
	width: calc(100% - 34px);
}

.full-cover-mobile #tag-btn{
	width: 24px;
	height: 24px;
	left: 0;
	float: right;
}

.full-cover-mobile .text-contents p{
	margin-bottom: 6px;
}

.full-cover-mobile .text-contents input{
	width: 100%;
	height: 24px;
}

.full-cover-mobile .thumnail{
	height: 120px;
}



